@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'EB Garamond', serif; */
}
body{
    background: linear-gradient(to right, #AA5F88 50%,  #9C3466 50%);
    color: white;
}


/* navbar */
.navbar{
    margin:  10px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding: 30px;
    background: white;
}

.Marchio{
    color: #9C3466;
    text-decoration: none;
    font-size: 18px;
    margin:  10px 0 ;
}

.menu{
    gap: 5px;
    list-style: none;
    display: flex;
}

.menu a{
    color: #9C3466;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

/* main */
.titolo {
    margin-top: 10px;
    background: white ;opacity: 0.5;
    padding: 45px;
    text-align: center;
    font-size: 40px;
    color: #9C3466;
}

/* capitolo */
.capitolo{
    margin-top: 30px;
}

.capitolo img{
     width: 100%;
     height: auto;
     margin-top: 20px;
}



.capitolo_copy{
    width: 60%;
    margin: 30px auto;
}

.capitolo_copy h2{
    margin: 10px auto;
    margin-bottom: 40px;
}


.capitolo_copy li{
    font-size: 24px;
    margin-bottom: 20px;
}

.capitolo_copy h2{
    position: relative;
    left: -30px;
    margin-top: 150px;
}

.capitolo_half{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
}

.capitolo_half img{
    width: 45%;
    height: auto;
    margin: 250px 10px 80px 0px;
}


.capitolo_half p{
    width: 45%;
    margin: 250px 0px 80px 10px;
    font-size: 20px;
}

footer{
    background: white;
    display: flex;
    padding: 40px;    
    align-items: center;
    justify-content: space-between;
}

footer p{
    color: #9C3466;
    margin-left: 20px;
    font-size: 14px;
}
.icon{
    display: flex;
    gap: 15px;
    margin-right: 10px;
    font-size: 24px;
}
.icon a{
    color: #9C3466;
    text-decoration: none;
}


@media(max-width: 300px){
    .contenitor {
        flex-direction: column;
    }

    .navbar{
    margin:  10px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding: 5px;
    background: white;
    font-size: 8px;
}

.Marchio{
    margin-left: 40px;
    color: #9C3466;
    text-decoration: none;
    font-size: 8px;
}

.menu{
    gap: 10px;
    list-style: none;
    display: flex;
    margin-right: 0px;
    font-size: 8px;
}

.menu a{
    color: #9C3466;
    text-decoration: none;
    font-size: 8px;
}

.titolo {
    margin-top: 10px;
    opacity: 0.6;
    background: white ;
    padding: 10pxpx;
    text-align: center;
    font-size: 30px;
    color: #9C3466;
}


.capitolo{
    margin-top: 20px;
    text-align: center;
    
}

.capitolo img{
        width: 100%;
        margin-top: 20px;
}

.capitolo_copy{
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
   text-align: center;
}


.capitolo_copy ul{
    font-size: 30px;
    margin-bottom: 60px;
    font-size: 12px;
}


.capitolo_copy h2{
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
    left: -20px;
    font-size: 24px;
}

.capitolo_half{
    justify-content:space-between;
    align-items: center;
}

.capitolo_half img{
    width: 50%;
    align-items: left;
    margin: 5px;
    gap: 5px;
    margin-right: 0;
}

.capitolo_half p{
    width: 50%;
    align-items: right;
    margin: 0 auto;
    gap: 5px;
    font-size: 12px;
}

footer{
    width: 100%;
    background: white;
    display: flex;
    height: 50px;    
    align-items: center;
    justify-content: space-between;
}

footer p{
    color: #9C3466;
    margin-left: 10px;
    font-size: 12px;
}
.icon{
    display: flex;
    gap: 15px;
    margin-right: 10px;
    font-size: 12px;
}
.icon a{
    color: #9C3466;
    text-decoration: none;
} 
}



